.button {
    background-color: #ffae00;
    height: 40px;
    padding: 0 10px;
    border-radius: 5px;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    transition: all 0.2s ease;
}

.button:hover {
    background-color: #313a49;
    color: #eee;   
}