.task-container {
    transition: all 0.2s ease;
    background-color: #313a49;
    margin: 5px 0;
    display: flex;
    border-radius: 5px;
    color: white;
    justify-content: space-between;
    padding: 8px;
}

.task-container-completed {
    transition: all 0.2s ease;
    background-color: #313a49;
    margin: 3px 0;
    display: flex;
    border-radius: 5px;
    color: white;
    font-size: 10px;
    justify-content: space-between;
    padding: 5px 8px 0 3px;
}

.task-container-completed h6 {
    display: none;
}

.task-tittle {
    width: 100%;
}

.remove-task-button {
    background-color: #313a49;
    border: none;
    font-size: 16px;
    color: #ffae00;
    cursor: pointer;
    padding: 0 8px;
}

.info-task-button {
    background-color: #313a49;
    border: none;
    font-size: 16px;
    color: #ffae00;
    cursor: pointer; 
    padding: 0 8px;
}

.buttons-container {
    width: 30%;
    display: flex;
    justify-content: flex-end;
}

.priorite-task {
    color: #ffae00;   
}